.container {
  display: flex;
  height: 500px; /* agrandir la hauteur du conteneur pour le
  déplacer sur l'axe vertical quand peu d'éléments dans body */
  justify-content: center;
  align-items: center;
}

#game-frame {
  display: flex;
  width: 500px;
  height: 300px;
  border: 2px black solid;
}

#questions {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#questions :last-child {
  margin-bottom: 20px;
}

.question {
  width: 450px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
}
