.container {
  display: flex;
  height: 500px; /* agrandir la hauteur du conteneur pour le
  déplacer sur l'axe vertical quand peu d'éléments dans body */
  justify-content: center;
  align-items: center;
}

#game-frame {
  display: flex;
  width: 500px;
  height: 150px;
  border: 2px black solid;
  border-radius: 3px;
}

#questions {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.question {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
  cursor: text;
  text-align: center;
}

.button {
  display: flex;
  width: 65px;
  height: 35px;
  border: 1px solid blue;
  background-color: rgba(104, 104, 241, 0.5);
  border-radius: 3px;
  margin-left: 10px;
}

.try {
  display: flex;
  width: 65px;
  align-self: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
